body{
   font-family: sans-serif;
   background-color: #f0f2f5;
   text-align: center;
   padding-top: 50px;
}
 .logo{
   width:150px;
   margin-bottom:20px;
}
.login{
   background-color:white;
   padding:20px;
   margin:auto;
   width:300px;
   border-radius:8px;
}
.child h2{
   margin-bottom: 15px;
}
input[type="email"],
input[type="password"]{
   width:250px;
   padding:10px;
   margin:10px;
   border: 1px solid;
   border-radius: 4px;
}
button{
   width:250px;
   padding:10px;
   background-color: blue;
   color:#f0f2f5;
   font-size:16px;
}
h3{
   color:blue;
   font-size:14px;
   margin-top:10px;
}
