.*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: whitesmoke;
   margin-bottom: auto;
}
.watch{
    margin-left: 50px;
    padding-right:30px;
    width:400px;
    height:600px;
    background-color:white;
    margin-top: 100px;
}
.watch img{
    margin-top: 50px;
    padding-left: 100px;
    
}
.watch p{
    padding-left: 60px;
}
.watch h2{
    text-align: center;
    color: aqua;
}
.star{
    color: yellow;
    margin-left: 50px;

    font-size: 25px;
}
.watch h1{
    text-align: center;
}
.watch button{
    width:430px;
    height:70px ;
    background-color: blue;
    color: white;
    font-size: 30px;
    margin-top: 60px;
}
.tshirt{
    margin-left: 50px;
    padding-right:30px;
    width:400px;
    height:600px;
    background-color:white;
    margin-left: 100px;
}
.tshirt img{
    margin-top: 50px;
    padding-left: 100px;
    
}
.tshirt p{
    padding-left: 60px;
}
.tshirt h2{
    text-align: center;
    color: aqua;
}
.star{
    color: yellow;
    margin-left: 50px;

    font-size: 25px;
}
.tshirt h1{
    text-align: center;
}
.tshirt button{
    width:430px;
    height:70px ;
    background-color: blue;
    color: white;
    font-size: 30px;
    margin-top: 60px;
}
.CENTER{
    display: flex;
    align-items: center;
    justify-content: center;
}